In [7]:
import os
import pandas as pd
import pyarrow
import datetime

In [2]:
print(os.getcwd())
os.chdir('/Users/jeffreymagouirk/Downloads')
#list1=os.listdir()
#list1

/Users/jeffreymagouirk/SBA

In [3]:
df=pd.read_parquet('combined_ppp.parquet.gzip', engine='pyarrow')

print(df.columns)
print(df.shape)

df.head()

Index(['LoanNumber', 'DateApproved', 'SBAOfficeCode', 'ProcessingMethod',
       'BorrowerName', 'BorrowerAddress', 'BorrowerCity', 'BorrowerState',
       'BorrowerZip', 'LoanStatusDate', 'LoanStatus', 'Term',
       'SBAGuarantyPercentage', 'InitialApprovalAmount',
       'CurrentApprovalAmount', 'UndisbursedAmount', 'FranchiseName',
       'ServicingLenderLocationID', 'ServicingLenderName',
       'ServicingLenderAddress', 'ServicingLenderCity', 'ServicingLenderState',
       'ServicingLenderZip', 'RuralUrbanIndicator', 'HubzoneIndicator',
       'LMIIndicator', 'BusinessAgeDescription', 'ProjectCity',
       'ProjectCountyName', 'ProjectState', 'ProjectZip', 'CD', 'JobsReported',
       'NAICSCode', 'Race', 'Ethnicity', 'UTILITIES_PROCEED',
       'PAYROLL_PROCEED', 'MORTGAGE_INTEREST_PROCEED', 'RENT_PROCEED',
       'REFINANCE_EIDL_PROCEED', 'HEALTH_CARE_PROCEED',
       'DEBT_INTEREST_PROCEED', 'BusinessType', 'OriginatingLenderLocationID',
       'OriginatingLender', 'OriginatingLenderCity', 'OriginatingLenderState',
       'Gender', 'Veteran', 'NonProfit', 'ForgivenessAmount',
       'ForgivenessDate'],
      dtype='object')
(11468681, 53)

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,ForgivenessAmount,ForgivenessDate
0,9547507704,05/01/2020,464.0,PPP,"SUMTER COATINGS, INC.",2410 Highway 15 South,Sumter,None,29150-9662,12/18/2020,...,Corporation,19248.0,Synovus Bank,COLUMBUS,GA,Unanswered,Unanswered,None,773553.37,11/20/2020
1,9777677704,05/01/2020,464.0,PPP,"PLEASANT PLACES, INC.",7684 Southrail Road,North Charleston,None,29420-9000,09/28/2021,...,Sole Proprietorship,19248.0,Synovus Bank,COLUMBUS,GA,Male Owned,Non-Veteran,None,746336.24,08/12/2021
2,5791407702,05/01/2020,1013.0,PPP,BOYER CHILDREN'S CLINIC,1850 BOYER AVE E,SEATTLE,None,98112-2922,03/17/2021,...,Non-Profit Organization,9551.0,"Bank of America, National Association",CHARLOTTE,NC,Unanswered,Unanswered,Y,696677.49,02/10/2021
3,6223567700,05/01/2020,920.0,PPP,KIRTLEY CONSTRUCTION INC,1661 MARTIN RANCH RD,SAN BERNARDINO,None,92407-1740,10/16/2021,...,Corporation,9551.0,"Bank of America, National Association",CHARLOTTE,NC,Male Owned,Non-Veteran,None,395264.11,09/10/2021
4,9662437702,05/01/2020,101.0,PPP,AERO BOX LLC,None,None,None,None,08/17/2021,...,None,57328.0,The Huntington National Bank,COLUMBUS,OH,Unanswered,Unanswered,None,370819.35,04/08/2021

In [25]:
df_0 = df.iloc[500000:750000]
print(f'{df_0.shape[0]:,}',',',df_0.shape[1])

250,000 , 53

In [26]:
print('Start time ', datetime.datetime.now())
print(f'{df_0.shape[0]:,}',df_0.shape[1])
df_0.to_csv('df_address_raw500K_750K.csv',sep=',',encoding='utf-8',index=False, compression="gzip")
print('End time ', datetime.datetime.now())

Start time  2023-02-20 12:22:00.575140
250,000 53
End time  2023-02-20 12:22:06.593071

<h4> Putting the geo-coded data together

In [34]:
print(os.getcwd())
list1 = []
list1=os.listdir('/Users/jeffreymagouirk/Downloads')
#print(list1)
[x for x in list1 if '.csv' in x]

/Users/jeffreymagouirk/Downloads

['transactions (3).csv',
 'transactions (2).csv',
 'transactions (4).csv',
 'personal-finances-assets-N00045974--2018-2022-11-15.csv',
 'df_address_raw500K_625K.csv',
 'df_address_geo_ppp1.csv',
 'transactions.csv',
 'df_address_geo_ppp.csv',
 'df_address_geo_ppp2.csv',
 'df_address_raw500K_750K.csv',
 'transactions (1).csv']

In [41]:
df_1 = pd.read_csv('df_address_geo_ppp.csv',header=0,sep=',',encoding='utf-8')
print(df_1.shape)
df_2 = pd.read_csv('df_address_geo_ppp1.csv',header=0,sep=',',encoding='utf-8')
print(df_2.shape)
df_3 = pd.read_csv('df_address_geo_ppp2.csv',header=0,sep=',',encoding='utf-8')
print(df_2.shape)
data_final = pd.concat([df_1, df_2], ignore_index=True)
print('final_data',data_final.shape)
data_final = pd.concat([data_final, df_3], ignore_index=True)
print(data_final.shape)
Final_data = data_final.drop_duplicates()
print('Final_data',Final_data.shape)

(25099, 18)
(75099, 18)
(75099, 18)
final_data (100198, 18)
(175297, 18)
Final_data (74999, 18)

In [42]:
Final_data.columns

Index(['LoanNumber', 'BorrowerAddress', 'BorrowerCity', 'BorrowerState',
       'BorrowerZip', 'ProjectCity', 'ProjectCountyName', 'ProjectState',
       'ProjectZip', 'OriginatingLender', 'ForgivenessAmount', 'Zip',
       'combined_borrower_address', 'location', 'point', 'latitude',
       'longitude', 'altitude'],
      dtype='object')

In [48]:
os.getcwd()
os.listdir()
[x for x in os.listdir() if '_500k_' in x]

['df_address_geo_ppp_500k_2.csv',
 'df_address_geo_ppp_500k_3.csv',
 'df_address_geo_ppp_500k_1.csv',
 'df_address_geo_ppp_500k_4.csv']

In [52]:
df_1 = pd.read_csv('df_address_geo_ppp_500k_1.csv',header=0,sep=',',encoding='utf-8')
print(df_1.shape)
df_2 = pd.read_csv('df_address_geo_ppp_500k_2.csv',header=0,sep=',',encoding='utf-8')
print(df_2.shape)
df_3 = pd.read_csv('df_address_geo_ppp_500k_3.csv',header=0,sep=',',encoding='utf-8')
print(df_3.shape)
df_4 = pd.read_csv('df_address_geo_ppp_500k_4.csv',header=0,sep=',',encoding='utf-8')
print(df_4.shape)
df_final = pd.concat([df_1,df_2,df_3,df_4],ignore_index=True)
print('df_final = ',df_final.shape)
df_final = df_final.drop_duplicates()
print('df_final = ',df_final.shape)

(50, 18)
(20050, 18)
(20049, 18)
(20050, 18)
df_final =  (60199, 18)
df_final =  (60149, 18)

In [56]:
Final_data_0 = pd.concat([Final_data,df_final],ignore_index=True)
Final_data_0.to_csv('Final_data_geocoded.csv',header=0,index=False,encoding='utf-8')
print(Final_data_0.head(n=13))

    LoanNumber              BorrowerAddress BorrowerCity BorrowerState  \
0   5038877006              1501 Queens Way    FAIRBANKS            AK
1   4253458308               940 E 38th Ave    Anchorage            AK
2   4704907109      5015 Business Park Blvd    ANCHORAGE            AK
3   4336187200            5216 Borch Street    KETCHIKAN            AK
4   4801407005           4101 University Dr    ANCHORAGE            AK
5   8737768301           4101 University Dr    Anchorage            AK
6   8064027104             939 W 5th Avenue    ANCHORAGE            AK
7   8818638408           230 E Marydale Ave     Soldotna            AK
8   7019558309              2220 E 88th Ave    Anchorage            AK
9   4184767110        1881 LIVENGOOD AVENUE    FAIRBANKS            AK
10  8414257104           225 Cordova Street    ANCHORAGE            AK
11  2535037205  590 University Ave Ste. 200    FAIRBANKS            AK
12  6477567003               721 Stedman St    KETCHIKAN            AK

   BorrowerZip ProjectCity     ProjectCountyName ProjectState  ProjectZip  \
0   99701-7456   FAIRBANKS  FAIRBANKS NORTH STAR           AK  99701-7456
1   99503-6100   Anchorage             ANCHORAGE           AK  99503-6100
2        99503   ANCHORAGE             ANCHORAGE           AK  99503-0100
3        99901   KETCHIKAN     KETCHIKAN GATEWAY           AK  99901-0001
4   99508-4625   ANCHORAGE             ANCHORAGE           AK  99508-4625
5   99508-4625   Anchorage             ANCHORAGE           AK  99508-4625
6        99501   ANCHORAGE             ANCHORAGE           AK  99501-0999
7   99669-7648    Soldotna       KENAI PENINSULA           AK  99669-7648
8   99507-3808   Anchorage             ANCHORAGE           AK  99507-3808
9   99701-2724   FAIRBANKS  FAIRBANKS NORTH STAR           AK  99701-2724
10       99501   ANCHORAGE             ANCHORAGE           AK  99501-0999
11       99709   FAIRBANKS  FAIRBANKS NORTH STAR           AK  99709-1000
12  99901-6632   KETCHIKAN     KETCHIKAN GATEWAY           AK  99901-6632

               OriginatingLender  ForgivenessAmount    Zip  \
0              Denali State Bank         1759865.44  99701
1     First National Bank Alaska         1760068.04  99503
2   KeyBank National Association         1767765.33  99503
3                     First Bank         1723081.40  99901
4                  Northrim Bank         1721379.12  99508
5                  Northrim Bank         1726065.70  99508
6     First National Bank Alaska         1710758.90  99501
7     First National Bank Alaska         1687615.70  99669
8     First National Bank Alaska         1666516.99  99507
9     First National Bank Alaska         1665926.45  99701
10    First National Bank Alaska         1660524.65  99501
11             Mt. McKinley Bank         1663716.47  99709
12                 Northrim Bank         1659113.71  99901

                        combined_borrower_address  \
0              1501 queens way fairbanks ak 99701
1               940 e 38th ave anchorage ak 99503
2      5015 business park blvd anchorage ak 99503
3                5216 borch st ketchikan ak 99901
4           4101 university dr anchorage ak 99508
5           4101 university dr anchorage ak 99508
6             939 w 5th avenue anchorage ak 99501
7            230 e marydale ave soldotna ak 99669
8              2220 e 88th ave anchorage ak 99507
9        1881 livengood avenue fairbanks ak 99701
10              225 cordova st anchorage ak 99501
11  590 university ave ste 200 fairbanks ak 99709
12              721 stedman st ketchikan ak 99901

                                             location  \
0   1501, Queens Way, Fairbanks North Star, Alaska...
1   940, East 38th Avenue, Anchorage, Alaska, 9950...
2   Business Park Boulevard, Anchorage Business Pa...
3                                                 NaN
4   Alaska Pacific University, 4101, University Dr...
5   Alaska Pacific University, 4101, University Dr...
6   Hotel Captain Cook, 939, West 5th Avenue, Anch...
7   Marydale Avenue, Soldotna, Kenai Peninsula, Al...
8   2220, East 88th Avenue, Anchorage, Alaska, 995...
9   1881, Livengood Avenue, Fairbanks, Fairbanks N...
10  225, Cordova Street, Anchorage, Alaska, 99501,...
11                                                NaN
12  721, Stedman Street, Petro Marine Services, Ke...

                                             point   latitude   longitude  \
0                    (64.809314, -147.740879, 0.0)  64.809314 -147.740879
1              (61.18694, -149.8664089191919, 0.0)  61.186940 -149.866409
2                  (61.1766714, -149.8886257, 0.0)  61.176671 -149.888626
3                                              NaN        NaN         NaN
4   (61.191534149999995, -149.80079000454944, 0.0)  61.191534 -149.800790
5   (61.191534149999995, -149.80079000454944, 0.0)  61.191534 -149.800790
6          (61.21803825, -149.90068599991022, 0.0)  61.218038 -149.900686
7                  (60.4949772, -151.0668064, 0.0)  60.494977 -151.066806
8            (61.141213, -149.84012892857143, 0.0)  61.141213 -149.840129
9    (64.84651590044567, -147.75589992453058, 0.0)  64.846516 -147.755900
10  (61.219845388080444, -149.87901360864825, 0.0)  61.219845 -149.879014
11                                             NaN        NaN         NaN
12    (55.33694930548587, -131.6317282227721, 0.0)  55.336949 -131.631728

    altitude
0        0.0
1        0.0
2        0.0
3        NaN
4        0.0
5        0.0
6        0.0
7        0.0
8        0.0
9        0.0
10       0.0
11       NaN
12       0.0

In [59]:
df_test=pd.read_csv('Final_data_geocoded.csv',header=0, encoding='utf-8')
df_test.head()

,5038877006,1501 Queens Way,FAIRBANKS,AK,99701-7456,FAIRBANKS.1,FAIRBANKS NORTH STAR,AK.1,99701-7456.1,Denali State Bank,1759865.44,99701,1501 queens way fairbanks ak 99701,"1501, Queens Way, Fairbanks North Star, Alaska, 99701, United States","(64.809314, -147.740879, 0.0)",64.809314,-147.740879,0.0
0,4253458308,940 E 38th Ave,Anchorage,AK,99503-6100,Anchorage,ANCHORAGE,AK,99503-6100,First National Bank Alaska,1760068.04,99503,940 e 38th ave anchorage ak 99503,"940, East 38th Avenue, Anchorage, Alaska, 9950...","(61.18694, -149.8664089191919, 0.0)",61.186940,-149.866409,0.0
1,4704907109,5015 Business Park Blvd,ANCHORAGE,AK,99503,ANCHORAGE,ANCHORAGE,AK,99503-0100,KeyBank National Association,1767765.33,99503,5015 business park blvd anchorage ak 99503,"Business Park Boulevard, Anchorage Business Pa...","(61.1766714, -149.8886257, 0.0)",61.176671,-149.888626,0.0
2,4336187200,5216 Borch Street,KETCHIKAN,AK,99901,KETCHIKAN,KETCHIKAN GATEWAY,AK,99901-0001,First Bank,1723081.40,99901,5216 borch st ketchikan ak 99901,NaN,NaN,NaN,NaN,NaN
3,4801407005,4101 University Dr,ANCHORAGE,AK,99508-4625,ANCHORAGE,ANCHORAGE,AK,99508-4625,Northrim Bank,1721379.12,99508,4101 university dr anchorage ak 99508,"Alaska Pacific University, 4101, University Dr...","(61.191534149999995, -149.80079000454944, 0.0)",61.191534,-149.800790,0.0
4,8737768301,4101 University Dr,Anchorage,AK,99508-4625,Anchorage,ANCHORAGE,AK,99508-4625,Northrim Bank,1726065.70,99508,4101 university dr anchorage ak 99508,"Alaska Pacific University, 4101, University Dr...","(61.191534149999995, -149.80079000454944, 0.0)",61.191534,-149.800790,0.0

In [62]:
os.chdir('/Users/jeffreymagouirk/SBA')
os.getcwd()
os.listdir()

['SBA_1.ipynb',
 'SBA_addresses_geocoded.ipynb',
 'Cutting_PP_file.ipynb',
 '.ipynb_checkpoints']